<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="../../../static/common/commonSecond.js"></script>
    <link rel="stylesheet" href="../../../static/css/my_info.css">
</head>
<body>
<!--左侧个人信息栏-->
<div class="content-container">
    <div id="card_left">
        <!--左侧右边编辑保存按钮-->
        <div class="edit_right" id="edit_info">
            <a href="javascript:;" onclick="myinfoEdit()">
                <span style="font-size: 12px;color: #C2BE9E">编辑</span>
            </a>
        </div>
        <div class="edit_right" id="save_info" hidden="true">
            <a href="javascript:;" onclick="myinfoSave()">
                <span style="font-size: 12px;color: #C2BE9E">保存</span>
            </a>
        </div>
        <!--头像及名称信息-->
        <img class="pic-circle" src="../../../static/image/head_icon.png"/>
        <div>
            <button type="button" id="head_upload" hidden="true" style="margin-bottom: 10px;font-size: 12px;">
                <a href="javascript:;">上传图片</a>
            </button>
        </div>
        <input id="my_name" name="nickname" value="JAYSON" readonly="true"/>
        <input id="my_desc" name="description" value="一个苦逼的程序员" readonly="true"/>
        <!--联系-->
        <div class="contact_info">
            <input class="contact_text" name="phone" value="13568826084" readonly="true"/>
            <input class="contact_text" name="sina" value="duyongping@163.com" readonly="true"/>
            <input class="contact_text" name="qq" value="786022775" readonly="true"/>
            <input class="contact_text" name="wx" value="fengchensha" readonly="true"/>
        </div>
        <blockquote class="my_about">
            关于我
        </blockquote>
        <div class="my_about_info">
            <div id="address">
                SC.成都
            </div>
            <div class="description">胡歌喜欢摄影，也喜欢写字，他视角独特，充满着奇思妙想。他有着极丰富的情感，和对生活的热情，
                他能点燃观众心中爱的火焰；胡歌积极、乐观、坚强，他脚踏实地地做好每一件事，真诚地对待身边每一个人。
            </div>
        </div>
        <blockquote class="my_about">
            兴趣
        </blockquote>
        <div class="my_about_info">
            <button>音乐</button>
            <button>画画</button>
            <button>动漫</button>
            <button>计算机</button>
            <button>王者荣耀</button>
        </div>
        <blockquote class="my_about">
            技能
        </blockquote>
        <div class="my_about_info" style="margin-bottom: 20px">
            <button>Android</button>
            <button>Java</button>
            <button>Web前端</button>
            <button>原画</button>
            <button>英语</button>
        </div>
    </div>
</div>
<!--中间动态烂-->
<div class="content-container">
    <div class="card_group">
        <div class="my_info_dongtai">
            <div class="dongtai_title">
                <img src="../../../static/image/head_icon.png" class="pic-circle">
                <div>
                    <span style="color: #2b425b;font-size: 16px;">Jayson</span>
                    为<span style="color: #1E9FFF;font-size: 14px;"> 图片 </span>添加了新的图片
                </div>
            </div>
            <div class="dongtai_content">
                <div class="description" style="text-indent:0em;margin-left: 0px">
                    这是一只可爱的狐狸
                </div>
                <img src="../../../static/image/草原上的狐狸20181003204331.jpg" style="max-width: 1000px;margin-top: 10px">
            </div>
        </div>
        <div class="my_info_dongtai">
            <div class="dongtai_title">
                <img src="../../../static/image/head_icon.png" class="pic-circle">
                <div>
                    <span style="color: #2b425b;font-size: 16px;">Jayson</span>
                    为<span style="color: #1E9FFF;font-size: 14px;"> 文章 </span>添加了新的文章
                </div>
            </div>
            <div class="dongtai_content">
                <div class="description" style="margin-left: 0px">胡歌喜欢摄影，也喜欢写字，他视角独特，充满着奇思妙想。他有着极丰富的情感，和对生活的热情，
                    他能点燃观众心中爱的火焰；胡歌积极、乐观、坚强，他脚踏实地地做好每一件事，真诚地对待身边每一个人。
                </div>
            </div>
        </div>
    </div>
</div>

<!--右侧备忘计划栏-->
<div class="my_info_beiwang">
    <button class="plan_btn">5天计划表</button>
    <div class="plan-card">
        <div class="plan-time">2018-10-22</div>
        <div class="plan-content">
            1.完成XX项目X模块<br>
            2.学习完成前端X知识点
        </div>
    </div>
</div>
<script>
    $(function () {
        // $("#head_upload").hide();
        // $("#save_info").hide();
        // 模拟新加卡片信息
        for (var index = 0; index < 4; index++) {
            var planCardItem = $(".plan-card").first().clone(true);
            $(".my_info_beiwang").append(planCardItem);
        }
    });

    /**
     * 编辑按钮
     */
    function myinfoEdit() {
        $("#save_info").show();
        $("#edit_info").hide();
        $("#head_upload").show();
        var inputs = $("#card_left").find("input");
        $.each(inputs, function () {
            var input = this;
            input.readOnly = false;
        })
    }

    /**
     * 保存按钮
     */
    function myinfoSave() {
        $("#edit_info").show();
        $("#save_info").hide();
        $("#head_upload").hide();
        var inputs = $("#card_left").find("input");
        $.each(inputs, function () {
            var input = this;
            input.readOnly = true;
        })
    }
</script>
</body>
</html>