<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="../../../static/common/commonSecond.js"></script>
    <script src="../../../static/js/my_work.js"></script>
    <link rel="stylesheet" href="../../../static/css/my_work.css">
</head>
<body>
<div id="work_line">
    <ul class="timeline">
        <li>
            <div class="time">时间</div>
            <div class="version">版本号</div>
            <div class="number">2</div>
            <div class="content">
                <div>
                    -将工具YUICompressor替换为Microsoft Ajax Minifier（需要指定-evals:immediate）。（需要指定-evals:immediate）。
                    ...
                </div>
            </div>
        </li>
        <li>
            <div class="time">时间</div>
            <div class="version"></div>
            <div class="number">1</div>
            <div class="content">
                <div>
                    -将工具YUICompressor替换为Microsoft Ajax Minifier
                    ...
                </div>
            </div>
        </li>
    </ul>
    <div class="bottom_load">
        <div id="fetchNextData">加载更多数据</div>
    </div>

</div>
</body>
</html>