<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>音乐</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="../../../static/common/commonSecond.js"></script>
    <!--音乐样式-->
    <link rel="stylesheet" href="../../../static/css/col_music.css">
</head>
<body>
<!--音乐容器-->
<div class="content-container">
    <span class="model_title">热门专辑</span>
    <!--音乐专辑-->
    <div class="music-album">
        <div class="music-bg">
            <div class="music-title">
                <div class="title_span">
                    <h3>BGM</h3><a href="#">查看更多</a>
                </div>
            </div>
            <div class="music-num">
                <img class="music-cover" src="../../../static/image/music_tmp1.png"/>
                <span class="title">音乐</span><br>
                <span class="desc">最喜欢的歌</span>
            </div>
            <div class="music-num">
                <img class="music-cover" src="../../../static/image/music_tmp2.png"/>
                <span class="title">音乐</span><br>
                <span class="desc">最喜欢的歌</span>
            </div>
        </div>
    </div>
</div>

<!--分类容器-->
<div class="content-container">
    <span class="model_title">分类歌单</span>
    <div class="search-music">
        <input type="text" placeholder="请输入您想要的音乐"/>
    </div>
    <div id="flow-music-tag">
        <button class="flow_btn">知否知否</button>
        <button class="flow_btn">君临天下</button>
        <button class="flow_btn">剑客不能说</button>
        <button class="flow_btn">可不可以</button>
        <button class="flow_btn">有一种爱叫做放手</button>
        <button class="flow_btn">转机</button>
        <button class="flow_btn">默</button>
        <button class="flow_btn">再给我一些勇气</button>
        <button class="flow_btn">Merry Lonely Chrismas</button>
        <button class="flow_btn">演员</button>
        <button class="flow_btn">难念的经</button>
        <button class="flow_btn">剑魂</button>
        <button class="flow_btn">Merry Lonely Chrismas</button>
        <button class="flow_btn">演员</button>
        <button class="flow_btn">难念的经</button>
        <button class="flow_btn">剑魂</button>
    </div>
    <div id="music-order">
        <ul>
            <li><img src="../../../static/image/style_music_order.png"/></li>
            <li><img src="../../../static/image/style_music_order.png"/></li>
            <li><img src="../../../static/image/style_music_order.png"/></li>
        </ul>
        <div id="more_order">更多</div>
    </div>
</div>

<!--单曲推荐容器-->
<div class="content-container">
    <span class="model_title">单曲推荐</span>
    <span class="model_right">换一换</span>
    <div class="music-list">
        <ul>
            <li><img src="../../../static/image/style_single_music.png"/></li>
            <li class="music_li">
                <img style="width: 70px;height: 70px;margin-top: 11px;" src="../../../static/image/music_tmp1.png">
                <div style="float: right;width: 370px;height: 93px;line-height: 93px">
                    <span style="font-size: 13px;width: 320px;">告白气球</span>
                </div>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var musicItem1 = $(".music-bg").clone();
        var musicItem2 = $(".music-bg").clone();
        var musicItem3 = $(".music-bg").clone();
        //模拟添加两个
        $(".music-album").append(musicItem1);
        $(".music-album").append(musicItem2);
        $(".music-album").append(musicItem3);
        //模拟再添加6个音乐列表
        for (var index = 0; index < 6; index++) {
            var musicLi = $(".music_li").eq(0).clone();
            $(".music-list ul").append(musicLi);
        }
    });
</script>
</body>
</html>