<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>相册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="../../../static/common/commonSecond.js"></script>
    <script src="../../../static/common/common3D.js"></script>
</head>
<body>
<div class="container">
    <section id="dg-container" class="dg-container">
        <div class="dg-wrapper">
            <a href="#"><img src="../../../static/_plugin/3DGallery/images/1.jpg" alt="image01">
                <div>http://www.jq22.com/</div>
            </a>
            <a href="#"><img src="../../../static/_plugin/3DGallery/images/2.jpg" alt="image02">
                <div>http://www.jq22.com/</div>
            </a>
            <a href="#"><img src="../../../static/_plugin/3DGallery/images/3.jpg" alt="image03">
                <div>http://www.jq22.com</div>
            </a>
            <a href="#"><img src="../../../static/_plugin/3DGallery/images/4.jpg" alt="image04">
                <div>http://jq22.com/</div>
            </a>
        </div>
        <nav>
            <span class="dg-prev">&lt;</span>
            <span class="dg-next">&gt;</span>
        </nav>
    </section>
</div>
<script type="text/javascript" src="../../../static/_plugin/3DGallery/js/jquery.gallery.js"></script>
<script type="text/javascript">
    $(function () {
        $('#dg-container').gallery({
            current: 0,
            autoplay: true,
            interval: 2000
        });
    });
</script>
</body>
</html>