<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>书籍</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="../../../static/common/commonSecond.js"></script>
    <link rel="stylesheet" href="../../../static/css/col_book.css">
    <script src="../../../static/js/col_book.js"></script>
</head>
<body>
<table cellspacing="0">
    <thead>
    <tr>
        <th>编号</th>
        <th>游戏名字</th>
        <th>游戏包名</th>
        <th>游戏图片</th>
    </tr>
    </thead>
    <tbody id="mode">

    </tbody>
</table>

</body>
</html>