<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>相册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="../../../static/common/commonSecond.js"></script>
    <link rel="stylesheet" href="../../../static/css/col_picture.css">
</head>
<body>
<div class="album-bg">
    <!--<div class="album">-->
    <!--<table border="0px" cellspacing="0">-->
    <!--<tr>-->
    <!--<th class="first-pic" colspan="6" rowspan="3"></th>-->
    <!--<th></th>-->
    <!--<th></th>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<th></th>-->
    <!--<th></th>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<th></th>-->
    <!--<th></th>-->
    <!--</tr>-->
    <!--</table>-->
    <!--<div class="album_title_right">唯美图片</div>-->
    <!--</div>-->
    <!--<div class="album_haha">-->
    <!--<div class="album_title_left">唯美图片</div>-->
    <!--<table border="0px" cellspacing="0">-->
    <!--<tr>-->
    <!--<th></th>-->
    <!--<th></th>-->
    <!--<th class="first-pic" colspan="6" rowspan="3"></th>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<th></th>-->
    <!--<th></th>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<th></th>-->
    <!--<th></th>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
</div>
<script type="text/javascript">
    $(function () {
        for (var index = 0; index < 10; index++) {
            if (index % 2 == 0) {
                //新建一个左相册
                var row = $(' <div class="album_left">\n' +
                    '         <table border="0px" cellspacing="0">\n' +
                    '            <tr>\n' +
                    '                <th class="first-pic" colspan="6" rowspan="3"></th>\n' +
                    '                <th></th>\n' +
                    '                <th></th>\n' +
                    '            </tr>\n' +
                    '            <tr>\n' +
                    '                <th></th>\n' +
                    '                <th></th>\n' +
                    '            </tr>\n' +
                    '            <tr>\n' +
                    '                <th></th>\n' +
                    '                <th></th>\n' +
                    '            </tr>\n' +
                    '        </table>\n' +
                    '        <div class="album_title_right">唯美图片</div>' +
                    '        </div>');
                $(".album-bg").append(row);
            } else {
                //新建一个右相册
                var row = $('<div class="album_right">\n' +
                    '        <div class="album_title_left">唯美图片</div>\n' +
                    '        <table border="0px" cellspacing="0">\n' +
                    '            <tr>\n' +
                    '                <th></th>\n' +
                    '                <th></th>\n' +
                    '                <th class="first-pic" colspan="6" rowspan="3"></th>\n' +
                    '            </tr>\n' +
                    '            <tr>\n' +
                    '                <th></th>\n' +
                    '                <th></th>\n' +
                    '            </tr>\n' +
                    '            <tr>\n' +
                    '                <th></th>\n' +
                    '                <th></th>\n' +
                    '            </tr>\n' +
                    '        </table>\n' +
                    '    </div>');
                $(".album-bg").append(row);
            }
        }
    });
</script>
</body>
</html>