body {
    background-image: url("../image/login_bg.jpg");
    font-family: 微软雅黑;
}

input {
    font-weight: bold;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 1000px #fff;
    background-color: transparent;
}

input::-webkit-input-placeholder {
    color: #333333;
}

/*整个登陆框背景样式*/
.admin-login-background {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -150px;
    margin-top: -100px;
}

/*标题样式*/
.admin-login-background h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

/*头像样式*/
.register-left img,
.login_input img {
    width: 120px;
    height: 120px;
    margin: 20px 85px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px;
}

.edit-box {
    margin-bottom: 10px;
}

/*输入框样式*/
.admin-input {
    border: 1px solid #2E2D3C;
    background-color: rgba(255, 255, 255, 0.3);
    height: 50px;
    width: 290px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.admin-input::-webkit-input-placeholder {
    color: white;
    font-weight: lighter;
    font-size: 14px;
}

.admin-input-username {
    border-top-style: solid;
}

/*登录按钮样式*/
.admin-button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 300px;
    height: 50px;
    border: 0px;
    background-color: rgba(0, 150, 136, 0.6);
}

.admin-button:hover {
    background-color: rgba(0, 150, 136, 0.8);
}

/*注册忘记密码相关样式*/
.register-forget {
    margin-top: 10px;
    width: 300px;
    position: relative;
}

.register-forget a {
    text-decoration: none;
    font-size: 0.8em;
    color: white;
}

.register-forget #register {
    position: absolute;
    right: 0px;
}

/*注册主界面布局*/
.admin-register-background {
    width: 700px;
    height: 300px;
    position: absolute;
    left: 40%;
    top: 30%;
    margin-left: -150px;
    margin-top: -100px;
}

.register-left {
    float: left;
    width: 300px;
    margin-top: 100px;
}

.register-right {
    float: left;
    width: 300px;
    margin-top: 20px;
    margin-left: 50px;
}

/* 上传按钮 */
#head_upload {
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 300px;
    height: 35px;
    border: 0px;
    background-color: rgba(0, 150, 136, 0.6);
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding-top: 15px;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

#head_upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

#head_upload:hover {
    background-color: rgba(0, 150, 136, 0.8);
    text-decoration: none;
}