body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 微软雅黑;
}

/*卡片相关*/
.card_group {
    float: left;
    padding-bottom: 15px;
}

/*左侧*/
#card_left {
    background-color: white;
    text-align: center;
    width: 250px;
    float: left;
    position: relative;
}

#card_left input {
    border: none;
    width: 230px;
    margin: 5px 10px;
    text-align: center;
}

#card_left .edit_right {
    position: absolute;
    right: 0px;
    top: -5px;
}

#card_left #my_name {
    margin-bottom: 5px;
    font-weight: bold;
}

#card_left #my_desc {
    margin-bottom: 10px;
    color: #92B8B1;
    font-size: 12px;
    font-style: italic;
}

/*头像*/
.pic-circle {
    width: 100px;
    height: 100px;
    border: #E6E6E6 2px solid;
    margin: 10px 45px;
    border-radius: 100px;
}

#head_upload {
    background: #009688;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    text-align: center;
}

#head_upload a {
    color: white;
}

.contact_info {
    margin-top: 5px;
    margin-bottom: 10px;
}

.contact_info .contact_text {
    font-family: 微软雅黑;
    font-size: 12px;
    margin-bottom: 5px;
    color: #0C0C0C;
    text-align: center;
}

.my_about {
    background-color: rgba(0, 150, 136, 0.3);
    padding: 5px;
    width: 80px;
    color: #2b425b;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 22px;
    margin-left: 0px;
    border-left: 5px solid #009688;
    border-radius: 0 2px 2px 0;
}

.my_about_info {
    text-align: left;
    padding-right: 10px;
}

.my_about_info #address {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.description {
    text-align: left;
    text-indent: 2em;
    margin-left: 10px;
    margin-right: 0px;
    font-size: 12px;
    color: #758697;
}

.my_about_info button {
    padding: 0 5px;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555
}

/*中间动态相关*/
.my_info_dongtai {
    width: 1000px;
    background-color: white;
}

/*动态标题相关*/
.my_info_dongtai .dongtai_title {
    height: 80px;
    vertical-align: center;
    position: relative
}

.my_info_dongtai .dongtai_title img {
    width: 60px;
    height: 60px;
    border: 0px;
    margin-left: 0px
}

.my_info_dongtai .dongtai_title div {
    position: absolute;
    top: 40%;
    left: 70px
}

/*动态内容相关*/

/*备忘(计划)相关*/
.my_info_beiwang {
    height: auto;
    margin-left: 0px;
    margin-right: 5px;
    /*自适应宽度，和(display: inline-block;)一起用，但是多个会出现顶部不能对齐的问题，用(vertical-align: top);*/
    width: auto;
    vertical-align: top;
    display: inline-block;
}

.my_info_beiwang .plan_btn {
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
    background-color: #5FB878;
    border: 1px solid blue;
    color: white
}

.my_info_beiwang .plan-card {
    width: 300px;
    height: 130px;
    margin-bottom: 20px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: darkgrey 5px 8px 10px 5px;
    /*background-color: rgba(95,184,120,0.4);*/
}

.my_info_beiwang .plan-card .plan-time {
    width: 300px;
    height: 40px;
    text-align: left;
    text-indent: 0.5em;
    border-bottom: 1px solid #00CCFF;
    line-height: 40px;
}

.my_info_beiwang .plan-card .plan-content {
    color: #2E2D3C;
    width: 280px;
    line-height: 20px;
    height: 79px;
    padding: 10px;
    color: white;
    background-color: #4E5465;
    font-size: 14px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}