<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="../static/common/commonCss.js"></script>
    <script src="../static/common/commonJs.js"></script>
    <link rel="stylesheet" href="../static/css/home.css">
    <script type="text/javascript">
        $(function () {
            /**
             * 菜单栏样式操作
             */
            // $("ul.uMenu li ul").hide();
            $("ul.uMenu li > a").click(function () {
                $(this).siblings("ul").slideToggle();
            });
            $("ul.uItem li").click(function () {
                $("ul.uItem li").css("background", "#282b33");
                $(this).css("background", "#1e9fff");
            });
            // 个人主页默认选中
            $("#myPageLi").css("background", "#1e9fff");
            /**
             * 点击用户
             */
            $("#userInfo ul").hide();
            $("#userset").hover(function () {
                $("#userInfo ul").show();
            })
            /**
             * 点击上传按钮
             */
            // $("#all_upload").mouseover(function(){
            //     var p = $(this).offset();  //获取当前位置
            //     $("#box-data").show().css({ //控制弹框位置为当前位置
            //         left: p.left - 15,
            //         top: p.top + 60
            //     }).html("<p>电压值</p><p>" + value + "</p>");
            // });
            // $("#all_upload").mouseout(function () {
            //     $("#box-data").hide();
            // });
        });
    </script>
</head>
<body>
<div id="header">
    <h1>Collection</h1>
    <div id="userRight">
        <div id="userInfo">
            <img src="../static/image/deault_head_icon.jpg">
            <a id="userset" href="javascript;">Jayson</a>
            <ul>
                <li><a href="javascript;">基本资料</a></li>
                <li><a href="javascript;">安全设置</a></li>
            </ul>
        </div>
        <a id="quit" href="javascript;">退出</a>
    </div>
</div>

<div id="nav">
    <ul class="uMenu">
        <li>
            <a class="topMenu" href="javascript:;">
                Mine
                <img src="../static/image/icon_up.png">
            </a>
            <ul class="uItem">
                <li id="myPageLi"><a href="view/mine/my_info.html" target="option" id="myPage">个人主页</a></li>
                <li><a href="view/mine/my_work.html" target="option">工作经历</a></li>
            </ul>
        </li>
        <li>
            <a class="topMenu" href="javascript:;">
                Collection
                <img src="../static/image/icon_up.png">
            </a>
            <ul class="uItem">
                <li><a href="view/collection/col_picture.html" target="option">图片</a></li>
                <li><a href="view/collection/col_music.html" target="option">音乐</a></li>
                <!--<li><a href="javascript:;">视频</a></li>-->
                <li><a href="view/collection/col_book.html" target="option">书籍</a></li>
                <!--<li><a href="javascript:;">文章</a></li>-->
            </ul>
        </li>
        <li>
            <a class="topMenu" href="javascript:;">通讯录</a>
            <a class="topMenu" href="javascript:;">记事本</a>
            <div id="all_upload"><span>上传</span></div>
        </li>
    </ul>
</div>

<div id="section">
    <!-- 内容主体区域 -->
    <iframe id="option" name="option" src="view/index.html"
            style="overflow: auto;padding: 15px;margin:0 0 1em;"
            scrolling="yes" frameborder="yes" width="1700px" height="850px"></iframe>
</div>

<div id="footer">
    Copyright ? jayson.com
</div>

<div id="box-data"
     style="width: 120px; height: 50px; background-color: rgba(0,0,0,0.43);position: absolute;display:none;z-index:9999;border-radius:10px;text-align: center;">
</div>

<script type="text/javascript">
    document.getElementById("myPage").click();

    //计算iframe id = option 的高度
    function reinitIframe() {
        var iframe = document.getElementById("option");
        try {
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            var height = Math.max(bHeight, dHeight);
            iframe.height = height;
        } catch (ex) {
        }
    }

    window.setInterval("reinitIframe()", 200);
</script>
</body>
</html>
