<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="../static/common/commonCss.js"></script>
    <script src="../static/common/commonJs.js"></script>
    <link rel="stylesheet" href="../static/css/home.css">
    <script type="text/javascript">
        $(function () {
            $("ul.uMenu li ul").hide();
            $("ul.uMenu li > a").click(function () {
                $(this).siblings("ul").slideToggle();
            });
            $("ul.uItem li").click(function () {
                $("ul.uItem li").css("background", "#282b33");
                $(this).css("background", "#1e9fff");
            });
        });
    </script>
</head>
<body>
<div id="header">
    <h1>Collection</h1>
</div>

<div id="nav">
    <ul class="uMenu">
        <li>
            <a class="topMenu" href="javascript:;">
                Mine
                <img src="../static/image/icon_up.png">
            </a>
            <ul class="uItem">
                <li><a href="view/mine/my_info.html" target="option" id="myPage">个人主页</a></li>
                <li><a href="view/mine/my_work.html" target="option">工作经历</a></li>
            </ul>
        </li>
        <li>
            <a class="topMenu" href="javascript:;">
                Collection
                <img src="../static/image/icon_up.png">
            </a>
            <ul class="uItem">
                <li><a href="view/collection/col_picture.html" target="option">图片</a></li>
                <li><a href="javascript:;">音乐</a></li>
                <li><a href="javascript:;">视频</a></li>
                <li><a href="view/collection/col_book.html" target="option">书籍</a></li>
                <li><a href="javascript:;">文章</a></li>
            </ul>
        </li>
        <li>
            <a class="topMenu" href="javascript:;">通讯录</a>
            <a class="topMenu" href="javascript:;">记事本</a>
        </li>
    </ul>
</div>

<div id="section">
    <!-- 内容主体区域 -->
    <iframe id="option" name="option" src="view/index.html"
            style="overflow: hidden;padding: 15px;margin:0 0 1em;"
            scrolling="no" frameborder="no" width="1700px"></iframe>
</div>

<div id="footer">
    Copyright ? jayson.com
</div>

<script type="text/javascript">
    document.getElementById("myPage").click();

    //计算iframe id = option 的高度
    function reinitIframe() {
        var iframe = document.getElementById("option");
        try {
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            var height = Math.max(bHeight, dHeight);
            iframe.height = height;
        } catch (ex) {
        }
    }

    window.setInterval("reinitIframe()", 200);
</script>
</body>
</html>
