<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="../static/common/commonCss.js"></script>
    <script src="../static/common/commonJs.js"></script>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div id="container">
    <div>
    </div>
    <div class="admin-login-background">
        <h1>Collection&nbsp;Manager</h1>
        <div class="login_input">
            <!--头像-->
            <img id="headIcon" src="../static/image/deault_head_icon.jpg">
            <div class="edit-box">
                <input type="text" name="username" placeholder="请输入用户名"
                       autocomplete="off"
                       class="admin-input admin-input-username">
            </div>
            <div class="edit-box">
                <input type="password" name="password"
                       placeholder="请输入密码"
                       autocomplete="off"
                       class="admin-input">
            </div>
            <a target="_parent">
                <button class="admin-button" type="submit" id="login">LOGIN</button>
            </a>
        </div>
        <div class="register-forget">
            <a href="home.html" target="_parent" id="forget">
                <span>忘记密码</span>
            </a>
            <a href="register.html" target="_parent" id="register">
                <span>注册</span>
            </a>
        </div>
    </div>
</div>
<script>
    //获取本地储存头像和用户名
    if (localStorage.headicon != null && localStorage.headicon != "") {
        $("#headIcon").attr("src", localStorage.headicon);
    }
    if (localStorage.username != null && localStorage.username != "") {
        $("input[name=username]").text(localStorage.username);
    }
    /**
     * 登录操作
     */
    $("#login").bind("click", function () {
        var name = $("input[name=username]").val();
        var pwd = $("input[name=password]").val();
        if (name == null || name == "") {
            alert("请输入用户名")
            return false;
        }
        if (pwd == null || pwd == "") {
            alert("请输入密码")
            return false;
        }
        $.ajax({
            url: HostPort() + "user/login",
            type: "post",
            data: {"username": name, "password": pwd},
            async: false,
            success: function (rep) {
                console.log(rep);
                alert(rep.msg)
                if (rep.code == 1) {
                    window.location.replace("home.html");
                }
            }
        });
    })
</script>
</body>
</html>