<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="../static/common/commonCss.js"></script>
    <script src="../static/common/commonJs.js"></script>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div id="container">
    <div>
    </div>
    <div class="admin-register-background">
        <h1 style="font-weight: bold;text-align: center;margin-bottom: 20px;color: white;font-family: 微软雅黑">
            Collection Manager</h1>
        <form class="layui-form" action="">
            <!--头像-->
            <div class="register-left">
                <img src="../static/image/head_icon.png">
                <a href="home.html" target="_parent">
                    <button class="admin-button" id="head_upload_res">Upload</button>
                </a>
            </div>
            <div class="register-right">
                <div class="edit-box">
                    <input type="text" name="username" placeholder="请输入用户名"
                           autocomplete="off"
                           required="required"
                           class="admin-input admin-input-username">
                </div>
                <div class="edit-box">
                    <input type="password" name="password"
                           placeholder="请输入密码"
                           autocomplete="off"
                           required="required"
                           class="admin-input">
                </div>
                <div class="edit-box">
                    <input type="password" name="password"
                           placeholder="请确认密码"
                           autocomplete="off"
                           required="required"
                           class="admin-input">
                </div>
                <div class="edit-box">
                    <input type="password" name="phone"
                           placeholder="手机号码"
                           autocomplete="off"
                           class="admin-input">
                </div>
                <div class="edit-box">
                    <input type="password" name="phone"
                           placeholder="新浪微博"
                           autocomplete="off"
                           class="admin-input">
                </div>
                <div class="edit-box">
                    <input type="password" name="phone"
                           placeholder="qq"
                           autocomplete="off"
                           class="admin-input">
                </div>
                <div class="edit-box">
                    <input type="password" name="phone"
                           placeholder="微信"
                           autocomplete="off"
                           class="admin-input">
                </div>
                <a href="home.html" target="_parent">
                    <button class="admin-button" type="submit">Register</button>
                </a>
                <div class="register-forget">
                    <a href="login.html" target="_parent" id="register">
                        <span>返回登陆</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    //JavaScript代码区域
    layui.use(['element', 'upload'], function () {
        var element = layui.element;
        var upload = layui.upload;
        //执行实例
        upload.render({
            elem: '#head_upload_res' //绑定元素
            , url: HostPort() + 'fileUpload' //上传接口
            , accept: "file"
            , data: {
                type: "1"
            }
            , done: function (res) {
                //上传完毕回调
                if (res.content != null && res.content != "") {
                    var headImg = document.getElementsByClassName("layui-circle")[0];
                    headImg.src = res.content;
                }
                alert(res.msg);
            }
            , error: function () {
                //请求异常回调
                alert(res.msg);
            }
        });
    });
</script>
</body>
</html>